/* Navigation Styling */
header {
  cursor: pointer;
}

header h1,
.primary_nav_bar li {
  text-transform: uppercase;
}

.primary_nav_bar li {
  margin: 10% 5%;
  border-bottom: 2px solid lightgray;
}

.primary_nav_bar li:hover {
  border-bottom-color: #45e9f5;
}
